<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Suite" preserve-order="true">

	<test name="Ant-Based-Tests">
		<classes>
			<class name="TestingWithAnt"></class>
		</classes>
	</test>
	
	<test name="Selenium Practical Guide -Chapter2">
		<classes>
			<class name="ContextClick"></class>
		</classes>
	</test>

	<test name="Guru99 - Testing PDF Generation">
		<classes>
			<class name="Guru99Day7"></class>
		</classes>
	</test>

	
</suite>