<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Suite">

	<test name="Ant-Based-Tests">
		<classes>
			<class name="TestingWithAnt"></class>
		</classes>
	</test>
	
	<test name="Guru99-Tests">
		<classes>
			<class name="TestDay6"></class>
		</classes>
	</test>

</suite>